@media screen and (max-width: 1023px) {

    .section_voice,
    .contenedor_notas,
    .microfono,
    .identificador,
    .identificador2 {
        display: none !important;

    }
}

/* backDrop */
#modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro con opacidad del 50% */
    z-index: 1040;
    /* Valor z-index mayor que el modal para que esté detrás */
    display: none;
    /* Inicialmente oculto */
}

/* fin backdrop */

/* Identificador 1 */
.container_menu {
    position: relative;
}

.identificador {
    font-size: 1rem;
    position: absolute;
    font-weight: bold;
    top: 3.4rem;
    left: -.7rem;
    z-index: 1;
    background: #f8c5fd;
    width: 20px;
    height: 20px;
    /* border-radius: 50%; */
    display: none;
    /* transition: 3s; */
    /* transition-duration: 2s; */
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.identificador2 {
    font-size: 1rem;
    text-indent: 0em;
    font-weight: bold;
    z-index: 1;
    background: #f8c5fd;
    width: 20px;
    height: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn_fuente {
    color: black;
}

/* Fin Identificador 1 */

/* Contenedor Notas */
.contenedor_notas {
    width: 200px;
    height: 230px;
    position: fixed;
    background: linear-gradient(120deg, #BDE4FA 0%, #FADAE9 80%);
    z-index: 1;
    top: 0;
    display: none;
    overflow-y: auto;
    bottom: 0;
    margin: auto;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

/* Fin Contenedor Notas */

/* Sección Microfono */
.microfono {
    position: fixed;
    z-index: 1;
    bottom: 1rem;
    right: 1rem;
    background: linear-gradient(120deg, #BDE4FA 0%, #FADAE9 80%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx-microphone {
    /* font-size: 1.5rem; */
}

.activeMicro {
    color: #800035;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 1rem;
    transition-duration: 5s;
    background-color: greenyellow;

}

/* Fin Sección Microf */



.btnAccessUniversal {
    background: linear-gradient(120deg, #BDE4FA 0%, #FADAE9 80%);
    color: black;
    border-radius: 50%;
    padding: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    top: 0;
    margin: auto;
    right: 1rem;
    z-index: 10;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btnAccessUniversal:hover {
    /* background: linear-gradient(45deg, rgb(235, 114, 114) 50%, #7fec71 70%); */
    /* color: red; */
    border: none;
}

.menuacces {
    width: 300px;
    height: 400px;
    border-radius: 2rem;
    /* display: none; */
    /* visibility: hidden; */
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 4rem;
    padding: 2rem;
}

.menuacces.active {
    right: 0;
    display: block;
    z-index: 100;
}

.menuComponentAcces {
    background-color: white;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid darkblue;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    overflow-y: scroll;
    padding: 1rem 0rem;
}

.sectionAcces {
    background-color: darkcyan;
    width: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-radius: 1rem;
    padding: .5rem;
}

.sectionBtnsacces {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.btn-access {
    background: linear-gradient(90deg, #0051a0 0%, #0b1b74 70%);
    color: #FFFFFF;
    padding: 1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: 1.3125em;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn-access:hover {
    background: #FFFFFF;
    color: #0051a0;
}

.mb-0 {
    margin-bottom: 0;
}

.questionAcces {
    background-color: white;
    width: 20px;
    height: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}


/* LINEA DE LECTURA */
#readline {
    display: none;
    z-index: 1 !important;
    left: 0px;
    /* top: 10px; */
    position: fixed;
    background: #23b4e1;
    border-top: 4px solid rgb(255 140 246);
    border-bottom: 4px solid rgb(255 140 246);
    width: 100%;
    height: 10px;
}

#readline.active {
    display: flex;
}